/* width */
::-webkit-scrollbar {
  width: 5px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #010533; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 50, 90); 
  border-radius: 15pt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(9, 37, 70); 
}